form {
    margin-top: 30px;
    text-align: center;
}
form input , form select {
    margin-bottom: 10px;
}
form input [type="submit"] {
    margin-top: 10px;
}
form img {
    width: 200px;
    margin-bottom: 40px;
    
}
.card
{
    margin-top: 40px;
    padding: 5px;
    border-radius: 5px;
    background-color: #f8f9fa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.card a
{
    margin-top: 5px;
}
/* Remover margem do formulário */
.formularioPesquisa{
    margin: 0;
}

/* Estrutura do formulário de pesquisa (barra de navegação) */
.formularioPesquisa input,
.formularioPesquisa input[type="submit"]
{
    margin: 0;
}

/* Configurar o dropdown para ser exibido quando passar o cursor sobre o link */
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}
.produtoNaoEncontrado {
    margin-top: 20px;
    text-align: center;
}